.review-area {
    width: 100%;
    height: 145px;
    overflow: hidden;
    transform: translateY(-50%);
    margin-bottom: -48px;
    @media all and (max-width: 380px) {
        & {
            margin-bottom: -53px;
        }
    }
    @media all and (max-width: 320px) {
        & {
            height: 111px;
            margin-bottom: -44px;
        }
    }
    .review-line {
        position: relative;
        left: 15px;
        width: 1132px;
        height: 100%;
        display: flex;
        transition: transform 700ms ease-in-out;
        @media all and (max-width:380px) {
            & {
                width: 1015px;
            }
        }
        @media all and (max-width:320px) {
            & {
                width: 850px;
            }
        }
        .review {
            width: 374px;
            height: 100%;
            background: var(--review-bg);
            backdrop-filter: blur(9.06094px);
            border-radius: 10px;
            margin-left: 5px;
            padding: 20px;
            font-size: 15px;
            line-height: 18px;
            color: var(--text);
            @media all and (max-width:380px) {
                &{
                    width: 335px;
                }
            }
            @media all and (max-width:320px) {
                & {
                    width: 280px;
                    padding: 15px;
                }
            }
            .review__header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                @media all and (max-width:320px) {
                    .review__header {
                        margin-bottom: 7px;
                    }
                }
                .review__title {
                    font-weight: 600;
                }
                
                .review__user {
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }
            }
            .review__rating {
                margin-bottom: 16px;
                @media all and (max-width:320px) {
                    & {
                        margin-bottom: 8px;
                    }
                }
                .review__star {
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                    @media all and (max-width:320px) {
                        & {
                            width: 17px;
                            height: 17px;
                        }
                    }    
                }
            }
            @media all and (max-width:320px) {
                .review__content {
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }    
    }
}
